html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
.mdl-grid {
    max-width: 1024px;
    margin: auto;
}
.mdl-layout__header-row {
    padding: 0;
}
h3 {
    background: url('firebase-logo.png') no-repeat;
    background-size: 40px;
    padding-left: 50px;
}